/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.bootstrap-off {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
/*footer,*/ /*header,*/ hgroup, menu, nav, section, .nav-item, .nav-link, .navbar-nav, .navbar {
	display: block;
}


.header {
    background-image: url("../img/ETC_D_Velka_Britanie.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 400px;
}

.header-history {
  background-image: url("../history/img/map.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
}


.title {
    color: white;
    font-size: 70px;
    font-family: 'Bree Serif', serif;
}

@media screen and (max-width: 575px) {
  .title {
      padding-top: 32px;
  }
}

.title-history {
  color: rgb(0, 0, 0);
  font-size: 70px;
  font-family: 'Bree Serif', serif;
}

@media screen and (max-width: 575px) {
.title-history {
    padding-top: 32px;
}
}

.secondary-title {
  font-size: 30px;
  background-color: #6daad3;
  color: white;
  padding-left: 2.5%;
}

.aside-title {
  font-size: 30px;
  padding-left: 5%;
  color: white;
}

@media screen and (max-width: 991px) {
  .aside-title {
    margin-top: 50px;
  }
}

body {
  color: #1a1b1c !important;
  background-color: white !important;
  margin: 0 !important;
  padding: 0 !important;
}

.navbar {
  background-color: #23232e !important;
  margin-left: 10% ;
  margin-right: 10% ;
  margin-top: 210px;
}


.navbar-history {
  background-color: #23232e !important;
  margin-left: 10% ;
  margin-right: 10% ;
  margin-top: 60px;
}


.navbar-nav {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
}

.nav-item {
  width: 100% !important;
}

.nav-item:last-child {
  margin-top: auto !important;
}

.nav-link {
  display: flex !important;
  align-items: center !important;
  height: 5rem !important;
  color: #b6b6b6 !important;
  text-decoration: none !important;
}

.nav-link:hover {
  background: #141418 !important;
}
.navbar {
  top: 0 !important;
  height: 5rem !important;
}
.navbar-nav {
  flex-direction: row !important;
}

.nav-link {
  justify-content: center !important;
}

main {
  margin: 0 !important;
}

.table-title {
  font-size: 22px;
  font-weight: 500;
}

.table-bold {
  font-weight: 700;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 20px;
}

.bg-dark {
  background-color: rgb(10, 9, 9);
  color: white !important;
}


.spinEffect {
  -webkit-animation: spin 0.5s infinite linear;
}

@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

.img-hidden {
  display: none;
}

.img-rotate {
  height: 200px;
  position: relative;
}

.fontSizeEffect {
  -webkit-animation: sizeOfFont 5s infinite linear;
}

@-webkit-keyframes sizeOfFont {
  0% {font-size: 15px;}
  50% {font-size: 20px;}
  100% {font-size: 15px;}
}

.paddingEffect {
  -webkit-animation: tablePadding 4s infinite linear;
}

@-webkit-keyframes tablePadding {
  0% {padding-top: 25px; padding-bottom: 25px;}
  50% {padding-top: 50px; padding-bottom: 50px;}
  100% {padding-top: 25px; padding-bottom: 25px;}
}

.teaEffect {
  -webkit-animation: tea 2s infinite linear;
}

@-webkit-keyframes tea {
  0% {width: 100px;}
  50% {width: 200px;}
  100% {width: 100px;}
}

.borisEffect {
  -webkit-animation: boris 2s infinite linear;
}

@-webkit-keyframes boris {
  0% {height: 200px;}
  50% {height: 100px;}
  100% {height: 200px;}
}

.opacityEffect {
  -webkit-animation: opacity 4s infinite linear;
}

@-webkit-keyframes opacity {
  0% {opacity: 100%;}
  50% {opacity: 10%;}
  100% {opacity: 100%};
}



/*    History    */

#rok-obdobi {
  background-color: #6daad3;
  color: white;
}

.btn-obdobi {
  display:block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid grey;
  background-color: rgb(224, 224, 224);
  margin-top: 7px;
}

.btn-obdobi:focus {
  outline: none;
}

.btn-obdobi-center {
  justify-content: center;
  margin-top: 10px;
}

/*.text-obdobi {
  font-size: 20px;
}

.bez-prnl {
  margin-right: 30px;
}*/

.checkmark {
  position: absolute;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container-radion-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container-radion-btn:hover input ~ .checkmark {
  background-color: #ccc;
}

.container-radion-btn input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-radion-btn input:checked ~ .checkmark:after {
  display: block;
}

.container-radion-btn .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.container-radion-btn {
  font-size: 18px;
}

.card {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.card-img {
  height: 350px;
  width: 192px;
}

.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}

.people-biography {
  width: 150px;
  /*margin-right: 5%;*/
  position: relative;
  transform: translateY(+15%);
}

.casovaOsaRoky {
  font-size: 20px;
  cursor: pointer;
}

.opacityEffect-history {
  -webkit-animation: opacity-history 1s linear;
}

@-webkit-keyframes opacity-history {
  0% {opacity: 0%;}
  100% {opacity: 100%}
}

.udalost {
  padding-left: 5%;
  padding-right: 5%;
}




/*    Geography   */

/*.region-click {
  -webkit-animation: opacity-history 1s linear;
}

@-webkit-keyframes opacity-history {
  0% {transform-origin: 50% 50%;}
  100% {transform-origin: -20% 70%; transform: scale(2)}
}*/


.header-geography {
  background-image: url("../geography/img/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
}


/*  Northern Ireland  */

.region-GB-UKN {
  -webkit-animation: GB-UKN 1s linear;
}

@-webkit-keyframes GB-UKN {
  0% {transform-origin: 50% 50%;}
  100% {transform-origin: 25% 60%; transform: scale(3)}
}

.region-GB-UKN-transformed {
  transform-origin: 25% 60%;
  transform: scale(3);
}

.region-GB-UKN-backwards {
  -webkit-animation: GB-UKN-BACKWARDS 1s linear;
}

@-webkit-keyframes GB-UKN-BACKWARDS {
  0% {transform-origin: 25% 60%; transform: scale(3);}
  100% {transform-origin: 50% 50%; transform: scale(1)}
}


/*  Scotland  */

.region-GB-UKM {
  -webkit-animation: GB-UKM 1s linear;
}

@-webkit-keyframes GB-UKM {
  0% {transform-origin: 50% 50%;}
  100% {transform-origin: 50% -10%; transform: scale(1.5)}
}

.region-GB-UKM-transformed {
  transform-origin: 50% -10%;
  transform: scale(1.5);
}

.region-GB-UKM-backwards {
  -webkit-animation: GB-UKM-BACKWARDS 1s linear;
}

@-webkit-keyframes GB-UKM-BACKWARDS {
  0% {transform-origin: 50% -10%; transform: scale(1.5);}
  100% {transform-origin: 50% 50%; transform: scale(1)}
}


/*  Wales */

.region-GB-UKL {
  -webkit-animation: GB-UKL 1s linear;
}

@-webkit-keyframes GB-UKL {
  0% {transform-origin: 50% 50%;}
  100% {transform-origin: 55% 90%; transform: scale(3)}
}

.region-GB-UKL-transformed {
  transform-origin: 55% 90%;
  transform: scale(3);
}

.region-GB-UKL-backwards {
  -webkit-animation: GB-UKL-BACKWARDS 1s linear;
}

@-webkit-keyframes GB-UKL-BACKWARDS {
  0% {transform-origin: 55% 90%; transform: scale(3);}
  100% {transform-origin: 50% 50%; transform: scale(1)}
}



/*  North East  */

.region-GB-UKC {
  -webkit-animation: GB-UKC 1s linear;
}

@-webkit-keyframes GB-UKC {
  0% {transform-origin: 50% 50%;}
  100% {transform-origin: 80% 55%; transform: scale(4)}
}

.region-GB-UKC-transformed {
  transform-origin: 80% 55%;
  transform: scale(4);
}

.region-GB-UKC-backwards {
  -webkit-animation: GB-UKC-BACKWARDS 1s linear;
}

@-webkit-keyframes GB-UKC-BACKWARDS {
  0% {transform-origin: 80% 55%; transform: scale(4);}
  100% {transform-origin: 50% 50%; transform: scale(1)}
}


/*  North West  */

.region-GB-UKD {
  -webkit-animation: GB-UKD 1s linear;
}

@-webkit-keyframes GB-UKD {
  0% {transform-origin: 50% 50%;}
  100% {transform-origin: 80% 70%; transform: scale(2.5)}
}

.region-GB-UKD-transformed {
  transform-origin: 80% 70%;
  transform: scale(2.5);
}

.region-GB-UKD-backwards {
  -webkit-animation: GB-UKD-BACKWARDS 1s linear;
}

@-webkit-keyframes GB-UKD-BACKWARDS {
  0% {transform-origin: 80% 70%; transform: scale(2.5);}
  100% {transform-origin: 50% 50%; transform: scale(1)}
}


/*  Yorkshire and the Humber  */

.region-GB-UKE {
  -webkit-animation: GB-UKE 1s linear;
}

@-webkit-keyframes GB-UKE {
  0% {transform-origin: 50% 50%;}
  100% {transform-origin: 90% 70%; transform: scale(3)}
}

.region-GB-UKE-transformed {
  transform-origin: 90% 70%;
  transform: scale(3);
}

.region-GB-UKE-backwards {
  -webkit-animation: GB-UKE-BACKWARDS 1s linear;
}

@-webkit-keyframes GB-UKE-BACKWARDS {
  0% {transform-origin: 90% 70%; transform: scale(3);}
  100% {transform-origin: 50% 50%; transform: scale(1)}
}


/*  West Midlands   */

.region-GB-UKG {
  -webkit-animation: GB-UKG 1s linear;
}

@-webkit-keyframes GB-UKG {
  0% {transform-origin: 50% 50%;}
  100% {transform-origin: 80% 90%; transform: scale(3)}
}

.region-GB-UKG-transformed {
  transform-origin: 80% 90%;
  transform: scale(3);
}

.region-GB-UKG-backwards {
  -webkit-animation: GB-UKG-BACKWARDS 1s linear;
}

@-webkit-keyframes GB-UKG-BACKWARDS {
  0% {transform-origin: 80% 90%; transform: scale(3);}
  100% {transform-origin: 50% 50%; transform: scale(1)}
}


/*  East Midlands   */

.region-GB-UKF {
  -webkit-animation: GB-UKF 1s linear;
}

@-webkit-keyframes GB-UKF {
  0% {transform-origin: 50% 50%;}
  100% {transform-origin: 100% 80%; transform: scale(3)}
}

.region-GB-UKF-transformed {
  transform-origin: 100% 80%;
  transform: scale(3);
}

.region-GB-UKF-backwards {
  -webkit-animation: GB-UKF-BACKWARDS 1s linear;
}

@-webkit-keyframes GB-UKF-BACKWARDS {
  0% {transform-origin: 100% 80%; transform: scale(3);}
  100% {transform-origin: 50% 50%; transform: scale(1)}
}


/*  East of England   */

.region-GB-UKH {
  -webkit-animation: GB-UKH 1s linear;
}

@-webkit-keyframes GB-UKH {
  0% {transform-origin: 50% 50%;}
  100% {transform-origin: 110% 90%; transform: scale(3)}
}

.region-GB-UKH-transformed {
  transform-origin: 110% 90%;
  transform: scale(3);
}

.region-GB-UKH-backwards {
  -webkit-animation: GB-UKH-BACKWARDS 1s linear;
}

@-webkit-keyframes GB-UKH-BACKWARDS {
  0% {transform-origin: 110% 90%; transform: scale(3);}
  100% {transform-origin: 50% 50%; transform: scale(1)}
}


/*  South East  */

.region-GB-UKJ {
  -webkit-animation: GB-UKJ 1s linear;
}

@-webkit-keyframes GB-UKJ {
  0% {transform-origin: 50% 50%;}
  100% {transform-origin: 110% 110%; transform: scale(2.5)}
}

.region-GB-UKJ-transformed {
  transform-origin: 110% 110%;
  transform: scale(2.5);
}

.region-GB-UKJ-backwards {
  -webkit-animation: GB-UKJ-BACKWARDS 1s linear;
}

@-webkit-keyframes GB-UKJ-BACKWARDS {
  0% {transform-origin: 110% 110%; transform: scale(2.5);}
  100% {transform-origin: 50% 50%; transform: scale(1)}
}


/*  South West  */

.region-GB-UKK {
  -webkit-animation: GB-UKK 1s linear;
}

@-webkit-keyframes GB-UKK {
  0% {transform-origin: 50% 50%;}
  100% {transform-origin: 65% 120%; transform: scale(2)}
}

.region-GB-UKK-transformed {
  transform-origin: 65% 120%;
  transform: scale(2);
}

.region-GB-UKK-backwards {
  -webkit-animation: GB-UKK-BACKWARDS 1s linear;
}

@-webkit-keyframes GB-UKK-BACKWARDS {
  0% {transform-origin: 65% 120%; transform: scale(2);}
  100% {transform-origin: 50% 50%; transform: scale(1)}
}


/*  Great London  */

.region-GB-UKI {
  -webkit-animation: GB-UKI 1s linear;
}

@-webkit-keyframes GB-UKI {
  0% {transform-origin: 50% 50%;}
  100% {transform-origin: 92% 90%; transform: scale(6)}
}

.region-GB-UKI-transformed {
  transform-origin: 92% 90%;
  transform: scale(6);
}

.region-GB-UKI-backwards {
  -webkit-animation: GB-UKI-BACKWARDS 1s linear;
}

@-webkit-keyframes GB-UKI-BACKWARDS {
  0% {transform-origin: 92% 90%; transform: scale(6);}
  100% {transform-origin: 50% 50%; transform: scale(1)}
}


.fa-arrow-left {
  cursor: pointer;
}

.arrow-space {
  margin-top: 33px;
}

.region-pointer {
  cursor: pointer;
}

.city-text {
  text-align: justify;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-text {
  font-size: 20px;
  padding-right: 70px;
  padding-left: 10px;
  vertical-align: middle;
}

.row1{
  text-align:center;
  margin:0 auto;
}

.switch2{
  display:inline-block;
  vertical-align: middle;
  float: none;
}